services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: kong
      POSTGRES_USER: kong
      POSTGRES_PASSWORD: kong
    volumes:
      - kong_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "kong"]
      interval: 2s
      timeout: 5s
      retries: 10

  kong-migrations:
    image: kong:3.9.1
    env_file: kong.env
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "kong migrations bootstrap && kong migrations up && kong migrations finish"
    volumes:
      - ./certs:/certs

volumes:
  kong_pgdata:
