# Database
KONG_DATABASE=postgres
KONG_PG_HOST=postgres
KONG_PG_PASSWORD=changeme
KONG_PG_USER=kong
KONG_PG_DATABASE=kong

# Hybrid mode certs
KONG_CLUSTER_CERT=/certs/cluster.crt
KONG_CLUSTER_CERT_KEY=/certs/cluster.key
KONG_CLUSTER_MTLS=shared

# Ports
KONG_ADMIN_LISTEN=0.0.0.0:8001
KONG_CLUSTER_LISTEN=0.0.0.0:8005
KONG_PROXY_LISTEN=0.0.0.0:8000
